#navbar{
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.356);
    width: 100%;
    z-index: 999;
}

#navbar a li{
list-style: none;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding:  10px 10px;
    text-decoration:none;
    font-size: 17px;
  }

  #navbar a:hover {
    background-color: #dddddd69;
    color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  #navbar a.active {
    background-color: #6ea9e5;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  }
    footer {
    text-align: center;
    background: #042e43;
    color: #E2DFD2;
    padding: 20px 0;
    margin-top: 60px;
    font-size: 1rem;
    width: 100rem;
    z-index: 1;
}
body{
    margin: 0px;
    background-color: #042e43;
}
.mainbody{
    height: 40rem;
    width: 100rem;
    display: flex;
}
.mainbody div{
    background-color: #6ea9e5;
    border: #446b91 solid 4px;
    align-self: center;
    height: 26rem;
    width: 40rem;
    margin-left: 28rem;
    border-radius: 10px;
    z-index: 1;
}
.mainbody img{
    width: 100rem;
    height: 45rem;
    position: absolute;
}